@font-face {
    font-family:'monster_friend_foreregular';
    src: url('font/monsterfriendfore-webfont.woff2') format('woff2'),
         url('font/monsterfriendfore-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.div{
    margin: 0.5em;
}

.conteneur{
    width: 100%;
}

.avis{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 1em;
}

img{
    width: 18em;
    height: 22em;
}
h1
{
    font-family: 'monster_friend_foreregular';
    font-size: 3em;
    width: 12em;

}

body{
    font-family:'monster_friend_foreregular';
    background-color: black;
    color: white;
    font-size: 1em;
}

.titre {
    display: flex;
    justify-content: center;
   
}


.form{
   
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form form{
    border: 0.4em solid #333; /* Couleur et épaisseur de la bordure */
    display: flex;
    flex-direction: column;
}

label{
    font-size: 1em;
}

nav {
    width: 100%;    
position: sticky;
top: 2em;
border-radius: 1em;

}
nav > ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 1em;
}

nav a {
    background-color: rgb(38, 35, 39);
    color: white;
    text-decoration: none;
    border: solid black 1px;
    padding: 3% 5em;
    border-radius: 3em;
}

.submit-button {
    font-family: 'monster_friend_foreregular';
    background-color: red; /* Couleur de fond */
    color: white; /* Couleur du texte */
    padding: 1em 1em; /* Espacement à l'intérieur du bouton */
    border: none; /* Supprime la bordure par défaut du bouton */
    border-radius: 5em; /* Coins arrondis */
    cursor: pointer; /* Curseur de type main pour indiquer la possibilité de cliquer */
    text-decoration: none;
    color: white; /* Couleur du texte */
  }

  a {
    position: relative;
    color: #000;
    text-decoration: none;
  }
  
  a:hover {
    color: red;
  }
  
  a::before {
    content: "";
    position: absolute;
    display: block;
    width: 94%;
    height: 5px;
    left: 3%;
    bottom: 3%;
    background-color: red;
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }
  
  a:hover::before {
    transform: scaleX(1);
  }
  @media (max-width:1080px)  { 
    nav a {
        background-color: rgb(38, 35, 39);
        color: white;
        text-decoration: none;
        border: solid black 1px;
        padding: 0.3em 2em;
        border-radius: 3em;
    }

      .conteneur{
    width: 30%;
}

}
