body {
    color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    background: linear-gradient(to left top,#2493af, rgb(34, 131, 196));
}

@font-face {
    font-family:'monster_friend_foreregular';
    src: url('font/monsterfriendfore-webfont.woff2') format('woff2'),
         url('font/monsterfriendfore-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.div {
    margin: 1em;
}

.bouton_mode_nuit{
    background-color: black;
    border-color: rgb(0, 0, 0);
    color: #767dbe;
    border-radius: 20px;
    position: sticky;
    top: 7em;
    left: 190em;
    margin: 1em;

}  

.dark-mode {
    background: linear-gradient(to left top,#013fa1, rgb(0, 25, 54));
    color: rgb(255, 255, 255);
  }



h1 {
    font-family:'monster_friend_foreregular';
    border: 1em;
    text-align: center;
    color: rgb(255, 255, 255);

}

nav {
    width: 100%;
position: sticky;
top: 2em;


}
nav > ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 1em;
}

nav a {
    background-color: rgb(38, 35, 39);
    color: white;
    text-decoration: none;
    border: solid black 1px;
    padding: 0.3em 2em;
    border-radius: 3em;
}
.map {
width: 100%;
display: flex;
justify-content: center;
align-items: center;
}

.text {
    text-align: center;
}

table {
    border: solid;
right: 10em;
left: 30em;
}

.snowdin {
    height: 100%;
    width: 100%;
}

