body {
    color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    background: linear-gradient(to left top,#2493af, rgb(34, 131, 196));
}

.bouton_mode_nuit{
    background-color: black;
    border-color: rgb(0, 0, 0);
    color: #767dbe;
    border-radius: 20px;
    position: sticky;
    top: 6em;
    left: 150em;
    margin: 3em;

}  

.dark-mode {
    background: linear-gradient(to left top,#013fa1, rgb(0, 25, 54));
    color: rgb(9, 3, 46);
  }



h1 {
    border: 1em;
    text-align: center;
    color: cyan;

}

nav {
    width: 100%;
position: sticky;
top: 1em;

}
nav > ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

nav a {
    background-color: rgb(38, 35, 39);
    color: white;
    text-decoration: none;
    border: solid black 1px;
    padding: 3% 10em;
    border-radius: 3em;
}
.map {
width: 100%;
display: flex;
justify-content: center;
align-items: center;
}

.text {
    text-align: center;
}

table {
    border: solid;
right: 10em;
left: 30em;
}

.snowdin {
    height: 100%;
    width: 100%;
}

